/* google font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 1920px;
    font-family: "Lato", sans-serif;
    /* border: 8px solid mediumseagreen; */
}

/* Common Styles */
.container {
    max-width: 1440px;
    margin: 0 auto;
    /* border: 2px solid mediumseagreen; */
}

.text-normal {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn-txt {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.btn-bg {
    border-radius: 8px;
    background: rgb(229, 84, 115);
}

/* Banner Section Styles */
.banner-section {
    background-color: rgba(229, 84, 115, 0.1);
    /* width: 1920px;
    height: 850px; */
}

.banner-container {
    display: flex;
    gap: 97px;
    align-items: center;
}

.banner-title {
    color: rgb(39, 39, 39);
    font-size: 80px;
    font-weight: 800;
    line-height: 96px;
}

.btn-shop-now {
    width: 177px;
    height: 64px;
}

.banner-text-part p {
    margin: 32px 0;
}

.banner-image-part {
    width: 635px;
    height: 800px;
}

/* Our Featured Flowers Section Styles */
.featured-flower-section {
    /* margin: 170px 0px 130px 0px; */
    margin-top: 170px;
    margin-bottom: 130px;
}

.section-head {
    text-align: center;
}

.section-head-title {
    color: rgb(39, 39, 39);
    font-size: 40px;
    font-weight: 800;
    line-height: 48px;
}

.section-head-paragraph {
    color: rgba(39, 39, 39, 0.6);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin: 24px 0px 48px 0px;
}

.featured-flowers-container {
    display: flex;
    gap: 24px;
}

.flower-card {
    width: 464px;
    height: 538px;
}

.flower-image {
    border-radius: 300px 300px 0px 0px;
    /* padding: 110px 76px 0px 76px; */
}

.flower-image-bg1 {
    background: rgba(167, 33, 98, 0.15);
}

.flower-image-bg2 {
    background: rgba(5, 151, 160, 0.15);
}

.flower-image-bg3 {
    background: rgba(71, 125, 17, 0.15);
}

.featured-flower-paragraph {
    color: rgb(39, 39, 39);
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    /* text-align: center; */
    text-decoration-line: underline;
    margin-top: 32px;
}

.our-featured-section-container {
    background: rgba(39, 39, 39, 0.05);
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
    margin-top: 130px;
    padding: 86px 175px;
}

.feature {
    text-align: center;
}

.our-featured-section-container .feature-image {
    margin: 24px 0;
}

/* Hot Deal Section Styles */
.hot-deal-section {
    background: rgba(229, 84, 115, 0.05);
    border-radius: 8px;
}

.hot-deal-section-container {
    display: flex;
    justify-content: space-around;
    padding: 100px 175px;
    align-items: center;
}

.hot-deal-section .text-part {
    max-width: 594px;
    text-align: center;
}

.hot-deal-section .image-part {
    max-width: 318px;
    height: 420px;
}

.btn-signup {
    width: 155px;
    height: 64px;
}

.hot-text {
    color: rgb(229, 84, 115);
}

/* Instagram Section Styles */
.instagram-section {
    margin-top: 130px;
    margin-bottom: 130px;
}

.instagram-section .flowers-container {
    display: flex;
    gap: 24px;
}

/* Get The Latest Deals Styles Section */
.get-the-latest-deal-section {
    background-image: url("../Flower Asset/Rectangle 9.png");
    background-size: cover;
    padding-top: 122px;
}

/* Footer Section Styles */
.footer-section {
    background: rgb(17, 16, 16);
    padding: 128px 0;
    margin-top: 130px;
}

.footer-container{
    text-align: center;
}

.footer-header2 {
    font-size: 48px;
    font-weight: 800;
    line-height: 58px;
    color: rgb(255, 255, 255);
}

.flower-text{
    color: rgb(229, 84, 115);
}

.footer-txt-color {
    color: rgba(255, 255, 255, 0.9);
}

.foot-para{
    margin: 24px 0 32px 0;
}

.small-txt {
    color: rgba(255, 255, 255, 0.4);
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    /* text-align: center; */
}